body {
  background-color: gray;
  box-sizing: border-box; // REMOVE THIS TODO
}

.modal {
  overflow: hidden;
  position: relative;

  display: flex;
  place-content: center;

  height: 100vh;
  width: 100vw;

  margin-top: 5%;
}

// Modal Animations
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  &.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal-background {
      .modal {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
  .modal-background {
    display: table-cell;
    background: #00000019;
    text-align: center;
    vertical-align: middle;
  }
}

.content {
  min-height: 100%;
  height: 100%;

  position: relative;
  z-index: 0;

  .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    .members-modal-button {
      display: inline-block;
      text-align: center;
      padding: 10px 15px;
      margin: 10px;
      background: red;
      font-size: 18px;
      background-color: #efefef;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:hover {
        color: white;
        background: #009bd5;
      }
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// Responsiveness
@media screen and (min-width: 769px) {
  .gallery {
    display: none;
  }

  .main {
    &__modal {
      // test Button
      &-button {
        width: 20em;
        height: 10em;

        margin: 50px;
        background-color: black;
        color: white;
        font-family: impact;
        font-size: 30px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.536);
        }
      }

      // Actual Modal Styles
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      > div {
        display: grid;
        place-items: center;
        height: 90%;
      }

      &__container {
        position: relative;
        display: grid;
        align-content: center;
        height: 55%;

        box-shadow: 5px 7px 2px #00000009;

        background: rgb(240, 240, 243);

        & h2 {
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          font-size: 40px;
          margin: 0;
          max-height: 45px;

          & img {
            transform: translateY(8%);
          }
        }

        &__close-button {
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          position: absolute;
          top: 30px;
          right: 40px;
          font-size: 25px;
          text-align: center;
          line-height: 40px;

          height: 40px;
          width: 40px;

          border: 1px solid #141414;
          border-radius: 100%;

          &:hover {
            cursor: pointer;
            animation: rotating-circle 2s infinite;
            @keyframes rotating-circle {
              0% {
                transform: rotate(0deg);
              }

              50% {
                transform: rotate(180deg);
              }

              100% {
                transform: rotate(-180deg);
              }
            }
            background: rgb(255, 201, 158);
            background: -moz-linear-gradient(
              138deg,
              rgba(255, 201, 158, 1) 0%,
              rgba(255, 233, 215, 1) 15%,
              rgba(255, 233, 215, 1) 85%,
              rgba(255, 201, 158, 1) 100%
            );
            background: -webkit-linear-gradient(
              138deg,
              rgba(255, 201, 158, 1) 0%,
              rgba(255, 233, 215, 1) 15%,
              rgba(255, 255, 255, 0) 50%,
              rgba(255, 233, 215, 1) 85%,
              rgba(255, 201, 158, 1) 100%
            );
            background: linear-gradient(
              138deg,
              rgba(255, 201, 158, 1) 0%,
              rgba(255, 233, 215, 1) 15%,
              rgba(255, 255, 255, 0) 50%,
              rgba(255, 233, 215, 1) 85%,
              rgba(255, 201, 158, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc99e",endColorstr="#ffc99e",GradientType=1);
            border-color: #ff6c00;
            color: #ff6c00;
          }
        }

        // Modal Images
        &__people {
          display: grid;
          align-items: center;
          grid-auto-flow: column;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

          figure {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            overflow: hidden;
            text-align: center;
            width: 100%;

            margin: 0;
            box-shadow: 2px 2px 2px #00000034;

            border-radius: 10px;

            background-color: #fff;

            img {
              object-fit: cover;

              width: 100%;
              height: 250px;
            }

            figcaption {
              font-size: 14px;
              font-weight: 900;

              padding: 5%;

              span {
                font-size: 14px;
                font-weight: 500;
                font-size: smaller;
                color: gray;
              }
            }

            &:hover,
            &:focus {
              transform: scale(1.025);
            }
          }

          a {
            height: 40px;
            text-decoration: none;
          }

          svg {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            overflow: visible;

            padding: 12px;
            margin-top: 5px;

            color: #ccc;

            border-radius: 50px;

            &:hover,
            &:focus {
              background-color: #2e2e2e;
              color: #ffffff;
            }
          }

          p {
            max-width: 180px;

            margin: 0;
          }

          // Card sizes
          &-- {
            $first-last: 0.85;
            $second-fourth: 0.92;
            &1 {
              transform: scale($first-last) translate(9%, -3%);
            }
            &2 {
              transform: scale($second-fourth);
            }
            &4 {
              transform: scale($second-fourth);
            }
            &5 {
              transform: scale($first-last) translate(-9%, -3%);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .gallery {
    display: none;
  }

  .main {
    &__modal {
      // Button
      &-button {
        width: 20em;
        height: 10em;

        margin: 50px;
        background-color: black;
        color: white;
        font-family: impact;
        font-size: 30px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.536);
        }
      }

      // Actual Modal Styles
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      > div {
        display: grid;
        place-items: center;
        height: 90%;
      }

      &__container {
        position: relative;
        display: grid;
        align-content: center;
        height: 55%;

        box-shadow: 5px 7px 2px #00000009;

        background: rgb(240, 240, 243);

        & h2 {
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          font-size: 40px;
          margin: 0;
          max-height: 45px;

          & img {
            transform: translateY(8%);
          }
        }

        &__close-button {
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          position: absolute;
          top: 46px;
          right: 40px;
          font-size: 25px;
          text-align: center;
          line-height: 40px;

          height: 40px;
          width: 40px;

          border: 1px solid #141414;
          border-radius: 100%;

          &:hover {
            cursor: pointer;
            animation: rotating-circle 2s infinite;
            @keyframes rotating-circle {
              0% {
                transform: rotate(0deg);
              }

              50% {
                transform: rotate(180deg);
              }

              100% {
                transform: rotate(-180deg);
              }
            }
            background: rgb(255, 201, 158);
            background: -moz-linear-gradient(
              138deg,
              rgba(255, 201, 158, 1) 0%,
              rgba(255, 233, 215, 1) 15%,
              rgba(255, 233, 215, 1) 85%,
              rgba(255, 201, 158, 1) 100%
            );
            background: -webkit-linear-gradient(
              138deg,
              rgba(255, 201, 158, 1) 0%,
              rgba(255, 233, 215, 1) 15%,
              rgba(255, 255, 255, 0) 50%,
              rgba(255, 233, 215, 1) 85%,
              rgba(255, 201, 158, 1) 100%
            );
            background: linear-gradient(
              138deg,
              rgba(255, 201, 158, 1) 0%,
              rgba(255, 233, 215, 1) 15%,
              rgba(255, 255, 255, 0) 50%,
              rgba(255, 233, 215, 1) 85%,
              rgba(255, 201, 158, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc99e",endColorstr="#ffc99e",GradientType=1);
            border-color: #ff6c00;
            color: #ff6c00;
          }
        }

        // Modal Images
        &__people {
          display: grid;
          align-items: center;
          grid-auto-flow: column;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

          figure {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            overflow: hidden;
            text-align: center;
            width: 100%;

            margin: 0;
            box-shadow: 2px 2px 2px #00000034;

            border-radius: 10px;

            background-color: #fff;

            img {
              object-fit: cover;

              width: 100%;
              height: 250px;
            }

            figcaption {
              font-size: 14px;
              font-weight: 900;

              padding: 5%;

              span {
                font-size: 14px;
                font-weight: 500;
                font-size: smaller;
                color: gray;
              }
            }

            &:hover,
            &:focus {
              transform: scale(1.025);
            }
          }

          a {
            height: 40px;
            text-decoration: none;
          }

          svg {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            overflow: visible;

            padding: 12px;
            margin-top: 5px;

            color: #ccc;

            border-radius: 50px;

            &:hover,
            &:focus {
              background-color: #2e2e2e;
              color: #ffffff;
            }
          }

          p {
            max-width: 180px;

            margin: 0;
          }

          // Card sizes
          &-- {
            $first-last: 0.85;
            $second-fourth: 0.92;
            &1 {
              transform: scale($first-last) translate(9%, -3%);
            }
            &2 {
              transform: scale($second-fourth);
            }
            &4 {
              transform: scale($second-fourth);
            }
            &5 {
              transform: scale($first-last) translate(-9%, -3%);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    margin-top: 15%;
  }

  .main {
    &__modal__container {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-items: center;
      text-align: center;

      width: 70%;
      height: 58%;

      box-shadow: 5px 7px 2px #00000009;

      background: #f0f0f3;
      background-image: url(../../img/background.png);

      padding: 15px;

      &__people {
        display: none;
      }

      & > h2 {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 25px;
        place-self: center;

        width: 85%;

        margin-top: 20px;
        margin-bottom: 40px;

        & img {
          transform: translateY(20%);
        }
      }

      &__close-button {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 36px;
        right: 30px;
        font-size: 25px;
        text-align: center;
        line-height: 40px;

        height: 40px;
        width: 40px;

        border: 1px solid #141414;
        border-radius: 100%;

        &:hover {
          cursor: pointer;
          animation: rotating-circle 2s infinite;
          @keyframes rotating-circle {
            0% {
              transform: rotate(0deg);
            }

            50% {
              transform: rotate(180deg);
            }

            100% {
              transform: rotate(-180deg);
            }
          }
          background: rgb(255, 201, 158);
          background: -moz-linear-gradient(
            138deg,
            rgba(255, 201, 158, 1) 0%,
            rgba(255, 233, 215, 1) 15%,
            rgba(255, 233, 215, 1) 85%,
            rgba(255, 201, 158, 1) 100%
          );
          background: -webkit-linear-gradient(
            138deg,
            rgba(255, 201, 158, 1) 0%,
            rgba(255, 233, 215, 1) 15%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 233, 215, 1) 85%,
            rgba(255, 201, 158, 1) 100%
          );
          background: linear-gradient(
            138deg,
            rgba(255, 201, 158, 1) 0%,
            rgba(255, 233, 215, 1) 15%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 233, 215, 1) 85%,
            rgba(255, 201, 158, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc99e",endColorstr="#ffc99e",GradientType=1);
          border-color: #ff6c00;
          color: #ff6c00;
        }
      }

      & {
        figure {
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          position: relative;
          overflow: hidden;
          text-align: center;
          width: 100%;
          height: 200px;

          margin: 0;
          box-shadow: 2px 2px 2px #00000034;

          border-radius: 10px;

          background-color: #fff;

          img {
            object-fit: cover;
            object-position: top;

            width: 100%;
            height: 410px;
          }

          figcaption {
            font-weight: 900;

            padding: 5%;

            span {
              font-weight: 500;
              font-size: smaller;
              color: gray;
            }
          }

          &:hover,
          &:focus {
            transform: scale(1.025);
          }
        }

        a {
          height: 40px;
          text-decoration: none;
        }

        svg {
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          overflow: visible;

          padding: 12px;
          margin-top: 5px;

          color: #ccc;

          border-radius: 50px;

          &:hover,
          &:focus {
            background-color: #2e2e2e;
            color: #ffffff;
          }
        }

        p {
          max-width: 180px;

          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  body {
    background-color: red;
  }
}
