/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.gallery {
  position: relative;
  height: 50%;
  background: #eee;
  overflow-x: clip;
}

.gallery-cell {
  width: 28%;
  margin-right: 10px;
  background: transparent;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: transparent;
}

.flickity-prev-next-button,
.previous,
.next,
.flickity-page-dots {
  display: none;
}
